#! /bin/bash
export TWITTER_CONSUMER_KEY="YOUR_TWITTER_CONSUMER_KEY"
export TWITTER_CONSUMER_SECRET="YOUR_TWITTER_CONSUMER_SECRET"
export TWITTER_ACCESS_TOKEN="YOUR_TWITTER_ACCESS_TOKEN"
export TWITTER_ACCESS_TOKEN_SECRET="YOUR_TWITTER_ACCESS_TOKEN_SECRET"
