<div ng-controller="View1Ctrl as view" class="container">
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div class="panel-group">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'danger')" close="closeAlert($index)">{{alert.msg}}</div>
  </div>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Search Twitter</div>
      <div class="panel-body">
        <form name="myForm">
          <div class="form-group">
            <label for="usernameInput">Username:</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input class="form-control" id="usernameInput" type="text" ng-model="twitter.username" required="true" aria-describedby="basic-addon1" />
            </div>
          </div>
          <div class="form-group">
            <label for="tweetCountInput">Tweet count:</label>
            <input class="form-control" id="tweetCountInput" type="number" min="1" step="1" max="100" ng-model="twitter.tweetCount" required="true" />
          </div>
          <div class="form-group">
            <label for="searchTermInput">Search term:</label>
            <input class="form-control" id="searchTermInput" type="text" ng-model="twitter.searchTerm" required="true" />
          </div>
          <div class="form-group">
            <label for="locationInput">Location:</label>
            <input disabled class="form-control" id="locationInput" type="text" ng-model="twitter.location" />
          </div>
          <input class="btn btn-default" type="submit" ng-click="myForm.$valid && update(twitter)" value="Search" />
          <input class="btn btn-danger" type="button" ng-click="reset()" value="Reset" />
        </form>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Returned tweets</div>
      <div class="panel-body">
        <div ng-repeat="tweetId in twitterIds track by $index">
          <twitter-widget twitter-widget-id="twitterIds[$index]" twitter-widget-options="{}">
          </twitter-widget>
        </div>
      </div>
    </div>
  </div>
</div>
